html {
    background: linear-gradient(200deg, red, darkred);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: red darkred;
}
body {
    font-family: 'Segoe UI Light', Segoe UI, Arial;
}
.container {
    text-align: center;
    font-family: 'Segoe UI Light', Segoe UI, Arial;
}
a, a.website {
    background: transparent;
    border: none;
    box-shadow: 0 0 5px white;
    border-radius: 8px;
    text-shadow: 0 0 5px red;
    color: white;
}